@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 62.5%;
}

body {
    height: 100vh;
    background: no-repeat url('image/schoolBackgound.png') center/cover;
    text-align: center;
}

.layer {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
}

.ma_meme {
    width: 19.7222vw;
    height: 12.0313vh;
    display: inline-block;
    margin-right: 4.1667vw;
}

.comment {
    margin: 15.3125vh 0 3.125vh 0px;
    font-weight: bold;
    font-size: 2rem;
    color: #207D60;
}

.warning {
    width: 100%;
    height: 33.75vh;
    background-color: #2B2823;
    margin: 2.9688vw 0 4.375vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.warning_text {
    color: white;
    font-size: 2rem;
    margin: 0;
}

.warning_meme {
    width: 52.5vw;
    height: 15vh;
    display: block;
    margin: 0 auto;
}

.text {
    font-size: 2rem;
    color: #207D60;
}

.caution {
    color: #207D60;
    font-size: 1.2rem;
}

form {
    margin-top: 2.0938vh;
    position: relative;
}

input {
    width: 90.5556vw;
    height: 8.1250vh;
    border: 1px solid #207D60;
    border-radius: 35vw;
    background-color: transparent;
    text-align: center;
}

input::placeholder {
    font-weight: bold;
    font-size: 1.2rem;
    color: #207D60;
    padding-right: 11.1111vw;
}

input:focus {
    outline:none;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}

.submitBtn {
    width: 17.8139vw;
    height: 5.4172vh;
    position: absolute;
    right: 7.5vw;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #207D60;
    color: white;
    border: none;
    border-radius: 35vw;
    font-size: 1.2rem;
}

.besider {
    margin: 0px 0px 3.1250vh 0px;
    font-size: 0.8rem;
    font-weight: lighter;
    color: #207D60;
}

.footer {
    margin-top: 4.8438vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.footer_box {
    position: relative;
    bottom: 0;
    height: 4.8438vh;
    width: 100%;
    background-color: #207D60;
}

@media screen and (max-width:359px) {
    html, body {
        font-size: 55%;
    }
}
@media screen and (max-width:319px) {
    html, body {
        font-size: 52%;
    }
}