@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Noto Sans KR';
}

html, body {
    margin: 0;
}

body {
    width: 360px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.main {
    background-color: #2B2823;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment {
    margin: 90px 0px 16px 0px;
    font-family: 'SF_HambakSnow';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    color: white;
}

.cat_meme {
    width: 258px;
    height: 211px;
    display: block;
    margin: 0 auto;
}

.text {
    font-weight: bold;
    font-size: 12px;
    color: #E48927;
    margin: 17px;
}

button {
    width: 188px;
    height: 55px;
    display: block;
    margin: 15px auto;
    border: 1px solid #E48927;
    border-radius: 35px;
    background-color: transparent;
    color: #E48927;
    font-size: 12px;
    font-weight: bold;
    display: block;
}