@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR';
}

html, body {
    margin: 0;
    font-size: 62.5%;
}

.main {
    height: 95.6875vh;
    background: no-repeat url('image/schoolBackgound.png') center/cover;
}

body {
    text-align: center;
}

/* body {
    height: 94%;
    width: 100vw;
    background: no-repeat url('image/schoolBackgound.png') center/cover;
    text-align: center;
} */

.layer {
    height: 95.6875vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
}

/* body:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
}

body * {
    position: relative;
} */

.test_name {
    display: inline-block;
    margin-top: 6.7188vh;
    margin-bottom: 1.7188vh;
    color: #207D60;
    font-size: 1.6rem;
}

.title_img {
    width: 75vw;
    height: 34.45vw;
    margin: 0 auto;
    margin-bottom: 6.4063vh;
    display: block;
}

.meme_img {
    display: block;
    margin: 0 auto;
    width: 74.4444vw;
    height: 23.4375vh;
    margin-bottom: 8.1250vh;
}

.startBtn {
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: #E48927;
    width: 66.6667vw;
    height: 10.9375vh;
    border: 1px solid #E48927;
    box-sizing: border-box;
    border-radius: 35vw;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.infoText {
    margin: 21px 0 0px 0;
    padding-bottom: 44px;
    color: #E48927;
    display: block;
    font-size: 1.6rem;
}

.infoText .total, .infoText .survivor {
    color: #E48927;
    font-weight: bold;
}

.addInfo {
    width: 100%;
    bottom: 0;
}

.names_title {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 3.4375vh;
}

.names_title::before {
    content: "";
    flex-grow: 1;
    margin-right: 1.3889vw;
    background-color: #FEBE04;
    height: 0.1563vh;
}

.names_title::after {
    content: "";
    flex-grow: 1;
    margin-left: 1.3889vw;
    background-color: #FEBE04;
    height: 0.1563vh;
}

.namesDecoration {
    width: 16.6667vw;
    height: 19.7222vw;
}

.names_text {
    color: #207D60;
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    height: 8.4375vh;
    line-height: 8.4375vh;
}

.names_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 88.6111vw;
    margin: 0 auto;
    height: 33.5938vh;
    margin-top: 3.2813vh;
    text-align: left;
    box-sizing: border-box;
    padding: 0px 3.6111vh;
    overflow: auto;
}

.names_content::-webkit-scrollbar {
  width: 2.7778vw;
}
.names_content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10vw;
}
.names_content::-webkit-scrollbar-track {
  background-color: #E5E5E5;
  border-radius: 10vw;
  box-shadow: inset 0px 0px 5px white;
}

.name {
    display: inline-block;
    border-radius: 35px;
    color: white;
    background-color: #207D60;
    font-size: 1.2rem;
    padding: 0.3125vh 1.3889vw;
    margin: 1.0938vh 1.9444vw;
}

hr {
    border: none;
    height: 0.1563vh;
    background-color: #FEBE04;
    margin-top: 3.5938vh;
}

.share {
    font-weight: bold;
    font-size: 2rem;
    color: #207D60;
    margin-top: 4.6875vh;
}

.logo_wrap {
    display: flex;
    width: 43.3333vw;
    margin: 0 auto;
    justify-content: space-between;
}

.logoBtn {
    width: 10vw;
    height: 10vw;
    padding: 0;
    border: none;
    background-color: #207D60;
    border-radius: 50vw;
}

.insta {
    display: flex;
}

.facebookLogo {
    width: 7.7778vw;
    height: 8.64vw;
    margin-top: 1.0938vh;
}

.twitterLogo {
    width: 6.9444vw;
    height: 6.9444vw;
    margin-top: 0.9375vh;
}

.instagramLogo {
    width: 6.6667vw;
    height: 6.6667vw;
    transform: translateY(23%);
    margin: 0 auto;
}

.footer {
    margin-top: 8.5938vh;
}

.besider {
    margin-bottom: 3.125vh;
    font-size: 0.8rem;
    font-weight: lighter;
    color: #207D60;
}

.footer_box {
    position: relative;
    bottom: 0;
    height: 4.8438vh;
    width: 100%;
    background-color: #207D60;
}

@media screen and (min-width:380px) {
    html, body {
        font-size: 70%;
    }
}

@media screen and (max-width:359px) {
    html, body {
        font-size: 55%;
    }
}
@media screen and (max-width:319px) {
    html, body {
        font-size: 50%;
    }
}

/* 600이상부터 태블릿 & pc로 간주 */